/* NOTE: This font download is sandbox specific code */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* Root container settings */
#root {
  text-align: center;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-color: #282c34; /* Dark background */
}

/* Layout container for conversations and messages */
.conversations-with-messages {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row; /* Horizontal layout */
}

/* Sidebar container for the conversation list */
.conversations-wrapper {
  height: 100vh;
  width: 480px; /* Fixed width for the sidebar */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Prevent scrolling inside the conversation list */
.conversations-wrapper > .cometchat {
  overflow: hidden;
}

/* Main chat messages container */
.messages-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Styles for the placeholder when no conversation is selected */
.empty-conversation {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(
    --cometchat-background-color-03,
    #f5f5f5
  ); /* Light gray background */
  color: var(
    --cometchat-text-color-secondary,
    #727272
  ); /* Secondary text color */
  font: var(--cometchat-font-body-regular, 400 14px Roboto);
}

/* Remove border-radius for the message composer input */
.cometchat .cometchat-message-composer {
  border-radius: 0px;
}
